html, body {
    background: #D7BAA4;
    /*background: url("/assets/images/background.png") no-repeat 30% 60% fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html *, body * {
    color: #3E2852;
    font-family: 'Quantico', sans-serif;
    font-weight: 400;
}

hr {
    margin: 3.25rem auto;
    border-bottom: 1px solid #A7A59C;
    opacity: 0.8;
}

form input::-webkit-input-placeholder {
    color: #3E2852 !important;

}

a {
    font-size: 0.9rem !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {

    font-family: 'Orbitron', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
}

#container {
    visibility: hidden;
}

.container-welcome {
    margin-bottom: 30px;
    transition: all 1s ease-out 0s;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

.container-welcome h1 {
    font-size: 4rem;
    letter-spacing: normal;

}

.container-input {
    opacity: 0;
    transition: all 1s ease-out 0s;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

.container-input .input-group > * {
    border-color: #3E2852;
    opacity: 0.7;
}

.container-input input#location {
    opacity: .4;
    background: #D8B9A5;

}

.container-input .input-group-button input.button {
    opacity: 0.7;
    background: #3E2852;

    border-top: 1px solid #3E2852;
    transition: all 0.6s ease 0s;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

.container-input .input-group-button input.button:hover {
    opacity: 1;
    transition: all 0.6s ease 0s;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

.container-input .input-group-label {
    background: rgba(201, 151, 139, .7);
}

.container-input i.li {
    vertical-align: sub;
}

.container-output {

    opacity: 0.7;
    margin-top: 30px;
    /*!*border: none;*!*/
    /*border-top: 1px solid #3E2852;*/
    /*transition: all 0.6s ease 0s;*/
    /*-webkit-border-radius: 0;*/
    /*-moz-border-radius: 0;*/
}

.container-output h3 {
    font-weight: 700;
}

.container-output ul.tabs {
    border-color: #3E2852;

    background: #AD707F;
}

.container-output .tabs-content {

    background: rgba(201, 151, 139, .9);
    border: 1px solid #3E2852;
    border-top: none;
}

.tabs-title a {
    transition: all 0.6s ease 0s;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-right: 1px solid #3E2852;
}

.tabs-title > a:focus,
.tabs-title > a[aria-selected='true'] {
    opacity: .6;
    background: #3E2852;
    color: #fff;
    transition: all 0.6s ease 0s;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;

}

.tabs-title > a[aria-selected='true']:hover,
.tabs-title > a:hover {
    opacity: 1;
    color: #fff;
    background: #3E2852;
    transition: all 0.6s ease 0s;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

.tabs-content {
    *zoom: 1;
    margin-bottom: 1.5rem;

    /* Customized */
    display: block !important;

}

/* Customized */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.tabs-content:before, .tabs-content:after {
    content: " ";
    display: table;
}

.tabs-content:after {
    clear: both;
}

.tabs-content > .content {
    display: none;
    float: left;
    padding: 0.9375rem 0;
}

.tabs-content > .tabs-panel.is-active {
    -moz-animation: fadeIn 1.5s;
    -webkit-animation: fadeIn 1.5s;
    animation: fadeIn 1.5s;
    opacity: 1;
    display: block;
}